@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

* {
    margin: 0;
    font-family: 'Maven Pro', sans-serif;
}

body {
    overflow-x:hidden; 
}

a,
a:hover,
a:visited {
    text-decoration: none;
    color: #fff;
}

.row {
    flex-direction: row;
    display: inline-flex;
    max-height: 440px;
    justify-content: center;
    width: 100%;
}

.hexagon-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 36px 0; 
}

.visuallyhidden {
    display: block;
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 0;
    width: 0;
    padding: 0;
    border: 0;
}

.navigation {
    text-transform: uppercase;
    background-color: #333333;
    height: 94px;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center; 

    padding-left: 0;
}

.item {
    margin: 0 18px;
    padding-top: 45px;
}

.item a {
    font-size: 15px;
    margin-top: 12px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}

.item a:hover {
    color: #2eb398;
}

.item a:focus {
    color: #2eb398;
}

.arrow {
    display: flex;
    flex-direction: row;
    width: 170px;
    left: -15px;
    position: relative;
}

.arrow-left::before {
    content: '';
    width: 45px;
    display: block;
    position: relative;
    top: 23px; 
    left: 58px;
    border-top: 2px solid #fff;
    transform: rotate(15deg);
}

.arrow-left::after {
    content: '';
    width: 100px;
    display: block;
    position: relative;
    top: 40px; 
    left: 33px;
    border-top: 2px solid #fff;
    transform: rotate(60deg);
}

.arrow-right::before {
    content: '';
    width: 45px;
    display: block;
    position: relative;
    top: 23px;
    left: 1px;
    border-top: 2px solid #fff;
    transform: rotate(-15deg);
}

.arrow-right::after {
    content: '';
    width: 100px;
    display: block;
    position: relative;
    top: 40px;
    left: -29px;
    border-top: 2px solid #fff;
    transform: rotate(-60deg);
}

.triangle-2 {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 65px 0 65px;
    border-color: #333333 transparent transparent transparent;
    left: calc(50% - 65px); 
}

.info {
    position: relative;
    background-color: #2eb398;
    font-family: 'Lato', sans-serif;
    color: #fff;
    margin-top: 252px;
}

.info article {
    height: 506px;
}

article h3 {
    position: absolute;
    left: 473px;
    top: 91px;
    font-size: 44px;
}

.subtitle {
    color: #20816d;
    position: absolute;
    left: 474px;
    top: 140px;
    font-size: 26px;
}

article p {
    position: absolute;
    left: 474px;
    top: 190px;
    font-size: 18px;
    line-height: 32px;
    width: 892px;
}

.hex-layer-1{
    position: relative;
    top: 130px;
    width: 266px;
    height: 310px;
    transform: rotate(120deg);
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
    visibility: hidden;
    margin: -30px 15px;
}

.hex-layer-2 {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    transform: rotate(120deg);
    overflow: hidden;
}

.hex-layer-3 {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    transform: rotate(120deg);
    overflow: hidden;
    visibility: visible;
    background-size: 116%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.smith-wrapper {
    top: 100px;
    left: 180px;
    margin: 0;
}


footer {
    background-color: #323232;
    height: 903px;
    position: relative;
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}

legend h3 {
    font-size: 45px;
    font-weight: 100;
}

.in-touch-form {
    display: flex;
    flex-direction: column;
    width: 863px;
    margin-left: 178px;
    margin-bottom: 100px;
    position: relative;
}

.in-touch-form fieldset {
    border: 0;
    position: relative;
    top: 90px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
}

.input-text {
    width: calc(100% - 20px);
    background-color: #454545;
    border: 0;
    padding: 20px 0 17px 20px;
    margin: 20px 0px;
    resize: none;
    font-size: 18px;
    font-weight: 600;
    width: 845px;
}

.right-info {
    padding: 195px 0 0 32px;
}

.right-info strong {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.right-info p {
    width: 265px;
    line-height: 32px;
    word-spacing: 3px;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    text-align: justify;
}

.contacts {
    list-style-type: none;
    color: #fff;
    position: relative;
    padding: 0;
    left: -10px;
    top: 40px;
    font-size: 17px;
    font-weight: 700;
}

.contacts a{
    margin-left: 15px;
}

.contacts li {
    margin: 12px;
}

.button-submit {
    background-color: #2eb398;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    width: 132px;
    position: absolute;
    right: 0;
    bottom: 60px;
    height: 53px;
    font-size: 18px;
}

.footer {
    width: 100%;
    height: 62px;
    background-color: #222222;
    position: absolute;
    bottom: 0;
}

footer p {
    color: #fff;
    width: 400px;
}

legend p {
    font-size: 27px;
    width: 700px;
}

.social {
    position: absolute;
    right: 178px;
    bottom: 92px;
}

.social ul {
    list-style-type: none;
    display: inline-flex;
}

.social img {
    width: 37px;
    height: 37px;
}

.social a:hover img{
    transform: scale(1.25);
    transition: 300ms;
}

.triangle-2::after {
    content: '';
    width: 611px;
    display: block;
    position: relative;
    left: 105px;
    bottom: 24px;
    border-top: 1px solid #ccc;
}

.triangle-2::before {
    content: '';
    width: 611px;
    display: block;
    position: relative;
    right: 715px;
    bottom: 23px;
    border-top: 1px solid #ccc;
}

.hexagon-container .row:nth-child(odd)::before {
    content: '';
    height: 155px;
    display: block;
    position: relative;
    right: 19px;
    top: 174px;
    border-left: 1px solid #ccc;
}

.hexagon-container .row:nth-child(odd)::after {
    content: '';
    height: 155px;
    display: block;
    position: relative;
    left: 19px;
    top: 174px;
    border-left: 1px solid #ccc;
}

.info::before {
    content: '';
    display: block;
    position: relative;
    bottom: 17px;
    margin: 0 45px;
    border-top: 1px solid #ccc;
}

.info article::before {
    content: '';
    height: 470px;
    display: block;
    position: absolute;
    bottom: 17px;
    left: 147px;
    border-left: 2px solid #219d84;
}

.info article::after {
    content: '';
    height: 470px;
    display: block;
    position: absolute;
    bottom: 17px;
    right: 147px;
    border-left: 2px solid #219d84;
}

footer::before {
    content: '';
    width: 94%;
    display: block;
    position: absolute;
    top: 19px;
    margin: 0 45px;
    border-top: 2px solid #2b2b2b;
}

footer::after {
    content: '';
    width: 94%;
    display: block;
    position: absolute;
    bottom: 78px;
    margin: 0 45px;
    border-top: 2px solid #2b2b2b;
}

.footer p {
    color: #3c3c3c;
    font-weight: 700;
    padding: 20px 0 0 58px;
    font-size: 17px;
}

.hex1 {
    background-image: url(../assets/images/Layer33.png);
}

.hex2 {
    background-image: url(../assets/images/Layer31.png);
}

.hex3 {
    background-image: url(../assets/images/Layer34.png);
}

.hex4 {
    background-image: url(../assets/images/Layer35.png);
}

.hex5 {
    background-image: url(../assets/images/Layer36.png);
}

.hex6 {
    background-image: url(../assets/images/Layer44.png);
}

.hex7 {
    background-image: url(../assets/images/Layer37.png);
}

.hex8 {
    background-image: url(../assets/images/Layer38.png);
}

.hex9 {
    background-image: url(../assets/images/Layer39.png);
}

.hex10 {
    background-image: url(../assets/images/Layer40.png);
}

.hex11 {
    background-image: url(../assets/images/Layer41.png);
}

.hex12 {
    background-image: url(../assets/images/Layer43.png);
}

.hex13 {
    background-image: url(../assets/images/Layer42.png);
}

.smith {
    background-image: url(../assets/images/Image.png);
    background-size: 235%;
}

